<template>
  <div class="hello">
    <h2>A simple realtime app using Vue, Vuex and FeathersJS</h2>
    <input type='text' v-model='msg'/>
    <button type='submit' @click='submit'>Enter</button>
    <ul>
      <li v-for='message in messages'>
        {{ message.text }}
      </li>
    </ul>
  </div>
</template>

<script>
import { getAllMessage, createMessage } from './../services'
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      msg: ''
    }
  },

  computed: mapGetters([
    'messages'
  ]),

  mounted () {
    getAllMessage().then((data) => {
      this.msg = ''
    })
  },

  methods: {
    submit () {
      createMessage({ text: this.msg }).then((data) => {
        this.msg = ''
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
